body {
    margin: 0;
    padding: 0;
}
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.navigation {
    align-items: center;
    display: none;
    height: 100%;
}
.header-right {
    align-items: center;
    display: flex;
    height: 100%;
}
.Logo {
    display: flex;
    gap: 10px;
}
aside img {
    position: absolute;
    left: 270px;
    height: 280px;
}
.aside-wrapper {
    position: relative;
    padding: 0 20px;
    text-align: left;
}
.purple-text {
    color: #FF3998;
    padding: 0 20px;
}
.h1-text {
    font-weight: 900;
    font-size: 42px;
    position: relative;
    width: 250px;
    padding: 0 20px;
}
.main-button {
    background-color: transparent;
    color: black;
    border-color: lightcoral;
    border-radius: 40px;
    padding: 15px 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
aside p {
    width: 250px;
    padding-bottom: 10px;
    color: #555555;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding: 0 20px;
}
.under-aside {
    text-align: left;
    padding: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    background-image: linear-gradient(to right, rgba(238, 67, 147, 0.719), rgb(223, 130, 43), rgb(133, 207, 133));
    
}

section p,h2 {
    width: 250px;
}
main {
    padding: 20px;
}
.one-line-content {
    display: flex;
    justify-content: space-between;
    gap: 10px 20px;
    margin: 0px;
}
.content-box {
    text-align: center;
    width: 150px;
    height: 50px;
}
.main-section,
.section-div {
    padding: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
}
.section-div {
    font-size: 20px;
    line-height: 150%;
}
.carusel-section {
    /*   background: lightgray; */
      width: 400px;
      height: 320px;
      overflow: scroll;
      overflow-y: hidden;
      display: flex;
}
    
.carusel-section::-webkit-scrollbar {
      height: 5px;
}
    
.carusel-section::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 10px;
}
    
.carusel-section::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
}
    
.content-img {
      text-align: center;
      background: lightblue;
      height: 208px;
}
    
.content-info-box {
      text-align: center;
      overflow: hidden;
      background: #EEEEEE;
      min-width: 220px;
      height: 300px;
      border-radius: 10px;
      margin: 5px;
}
    
.contents {
      font-family: 'Roboto', sans-serif;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
}
    
.left-content p {
      text-align: start;
      margin: 7px;
}
    
.right-content p {
      text-align: end;
      margin: 7px;
}
    
.left-title, .right-title {
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #777777;
}
    
.left-title {
     color: #FF8139;
}
    
.left-middle, .right-middle {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
}
    
.left-end, .right-end {
      font-size: 14px;
      font-weight: 400;
      color: #777777;
    /*   letter-spacing: 1px; */
}

.back-p {
    width: 250px;
    padding-bottom: 10px;
    color: #555555;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    padding: 0 20px;
}
.main-end {
    padding: 0 20px;
}
.footer-img {
    position: absolute;
    left: 270px;
    height: 280px;
}
.footer-wrapper {
    position: relative;
}
.footer-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    padding: 0 20px;
    width: 250px;
}
.footer-logo {
    padding: 0 20px;
    display: flex;
    gap: 10px;
}
.social-media {
    padding: 0 20px;
}
table { 
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
thead {
    
}